@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 9 9% 10%;
    --border: 30 5% 80%;
    --button: 10 0% 85.9%;
    --input: 10 5% 90%;
    --card: 0 90% 100%;
  }
  
  .dark {
    --background: 0 0% 10.2%;
    --foreground: 9 9% 90%;
    --border: 100 1% 60%;
    --button: 10 0% 15.9%;
    --input: 10 5% 20%;
    --card: 0 2% 20%;
  }
}


@layer base {
  * {
    @apply border-border
  }
  body {
    @apply text-foreground;
    @apply bg-background;
  }
  
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient {
    @apply bg-gradient-to-br from-purple-500 to-blue-300
    
  }
}


